* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: antiquewhite;
    padding: 8em 0em 2em;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
    padding: 10px;
    text-align: flex-start; /* Updated */
    border-bottom: 1px solid #e9ecef;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin-left: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

nav ul li:first-child,
nav ul li .logo {
    margin-right: auto;
    width: 3em;
}

nav ul li a {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.5em;
    color: #eee;
    font-size: 1.67em;
}

nav ul li a:hover {
    background-color: #999;
    color: #eee;
}
h1 {
    text-align: left;
    padding: 3.5em 2em 0em;
    margin-top: -3em;
}
.container .cardblock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #f8f9fa;
    box-shadow: 0 0 1em #999;
}
.container .cardblock p {
    margin: 1em;
    padding: 2em;
    font-size: 1.5em;
}

.container .cardblock img {
    width: 20em;
}

.container .cardblock img:hover {
    transform: scale(1.2);
}

h2 {
    text-align: center;
    margin: 1em;
    padding: 1em;
    padding-top: 4em;
    margin-top: -3em;
    font-size: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
}

.grid-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #f8f9fa;
    box-shadow: 0 0 1em #999;
}
.grid-container .card img {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 20em;
}

.grid-container .card p {
    margin: auto auto 1em auto;
    font-size: 1.5em;
}
