{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HomePage</title>
        <link rel="stylesheet" href="{% static 'rubik_cube/basic.css' %}" />
    </head>
    <body>
        <script src="basic.js"></script>
        <nav>
            <ul>
                <li>
                    <img class="logo" src="{% static 'rubik_cube/images/rubik.png' %}" alt="nothing" width="" />
                </li>
                <li><a href="#home">Home</a></li>
                <li><a href="#types">Types</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <h1 id="home">Welcome </h1>

        <div class="container">
            <div class="cardblock">
                <img src="{% static 'rubik_cube/images/rubik\'scube.png' %}" alt="nothing" width="100%" />
                <p>
                    The Rubik's Cube, a timeless puzzle invented in 1974 by Ernő
                    Rubik, is an iconic symbol of logic, problem-solving, and
                    creative thinking. With its colorful and geometric design,
                    this deceptively simple yet endlessly complex cube
                    challenges enthusiasts of all ages worldwide. At its core,
                    the Rubik's Cube is a marvel of engineering, comprising 26
                    smaller cubes arranged on a three-by-three grid. Each face
                    of the cube features nine squares adorned with one of six
                    distinct colors, creating a visually striking and instantly
                    recognizable pattern. Yet, beneath its vibrant facade lies a
                    labyrinth of possibilities, challenging solvers to unlock
                    its secrets through a combination of logic, strategy, and
                    spatial reasoning.
                </p>
            </div>
        </div>

        <h2 id="types">Types of Rubik's Cube</h2>
        <div class="grid-container">
            <div class="card">
                <img src="{% static 'rubik_cube/images/rubik\'scube.png' %}" alt="" />
                <p>Classic Rubik's cube</p>
            </div>

            <div class="card">
                <img src="{% static 'rubik_cube/images/mirror_cube.png' %}" alt="" />
                <p>Mirror Cube</p>
            </div>

            <div class="card">
                <img src="{% static 'rubik_cube/images/pyramid_cube.png' %}" alt="" />
                <p>Pyramid Cube</p>
            </div>

            <div class="card">
                <img src="{% static 'rubik_cube/images/skewb_cube.png' %}" alt="" />
                <p>Skewb Cube</p>
            </div>

            <div class="card">
                <img src="{% static 'rubik_cube/images/snake_cube.png' %}" alt="" />
                <p>Snake Cube</p>
            </div>

            <div class="card">
                <img src="{% static 'rubik_cube/images/megaminx_cube.png' %}" alt="" />
                <p>Megaminx Cube</p>
            </div>
        </div>

        <div class="container">
            <div class="cardblock">
                <h2>Did You Know!</h2>
                <p>
                    The number of possible combinations: Rubik's Cube has
                    43,252,003,274,489,856,000 possible combinations, making it
                    one of the most complex puzzles in existence.
                    <br />
                    But, For the standard 3x3x3 cube, the God's Number is 20.
                    This means that no matter how jumbled up the cube is, a
                    solution can always be found within 20 moves or fewer.
                </p>
                <a href="https://cube-solver.com/">Try Yourself!</a>
            </div>
        </div>

        <footer>
            <div class="footer-container" id="contact">
                <h3>Contact Me</h3>
                <div class="footer-block">
                    <ul>
                        <li>Linked In<a href="https://www.linkedin.com/in/prathap-bharman-837730275/"><img src="{% static 'rubik_cube/images/linkedin-logo.svg' %}" alt=""></a></li>
                        <li>GitHub <a href="https://github.com/coder30247"><img src="{% static 'rubik_cube/images/github.png' %}" alt=""></a></li>
                        <li>Email <a href="mailto:prathap24a@gmail.com"><img src="{% static 'rubik_cube/images/email.png' %}" alt=""></a></li>
                    </ul>  
                </div>
            <p>&copy; 2024 Rubik's Cube. All rights reserved.</p>    
        </footer>
    </body>
</html>
